<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Artvoitus. Something. | Artvoitus</title>
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Metadata -->
	<meta name="copyright" content="Artvoitus" />
	<meta name="description" content="Some description" />
	<meta property="og:type" content="company">

</head>
<style>
@media only screen and (min-width : 768px) {
}
@media only screen and (min-width : 1024px) {
}
</style>
<body>
{% include "header.html" %}
<h1>Arvoitus</h1>

<p>Hi! We are Arvoitus (clearly and slowly), and we gamify urban environments and architecture.
	There is a lack of outdoor entertainment not related to sports, and Arvoitus is here to fill this gap.
	Our mobile game turns real world objects such as facades of the buildings into
	playable puzzles integrated into the magic world narrative.
	City maps will be populated with puzzles created by both our team and
	the players community by means of a puzzle builder integrated in the app.
	Our game allows the players to rediscover their own cities, get interested in the real world again,
	and do both intellectual and physical exercise while being outside and having fun, alone or with friends.
	And for the puzzle builders it gives the opportunity to leave a non-destructive mark
	in the world and benefit their local communities. A fraction of the puzzles on the map
	will be locked behind the subscription tier. We will get 5% of new users paying
	5 euros per month or 30 per year. Our main competitors are PokemonGo and Geocaching,
	but PokemonGo is not focused on puzzles and is less connected to the real world, and
	Geocaching lacks diverse puzzle mechanics and augmented reality. </p>

</body>
{% include 'footer.html' %}
</html>

