<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Artvoitus. Something. | Artvoitus</title>
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Metadata -->
	<meta name="copyright" content="Artvoitus" />
	<meta name="description" content="Some description" />
	<meta property="og:type" content="company">

</head>

<body>

{% include "header.html" %}
<h1>Arvoitus team</h1>

<p>The Arvoitus team consists of me, Alexey, and my co-founder Miro.
	We are both Aalto students, New Media and Production and Game Design and Production.
	We met at a game jam, a game development event, so we both share the same passion to create games.
	In addition,
	I have a background in Economics and Data analytics, and Miro has a background in Computer science.
	At the moment we are testing our first augmented reality puzzle to validate the idea.
	Please follow our updates on Instagram if you got interested!</p>

</body>
{% include 'footer.html' %}
</html>

